Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays

WarningsAsErrors: ''
HeaderFilterRegex: 'include/neuralc/.*'